body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.signup-sections {
    display: flex;
    height: 100vh;
}

.signup-sections .left-section {
    width: 43%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.signup-sections .left-section img {
    width: 43%;
    height: 101.19vh;
    object-fit: cover;
    margin: -10px -10px 0;
    position: fixed;
    filter: grayscale(15%) contrast(140%) brightness(84%);
    border-right: 1px solid black;
}

/*------------    Right Section     ---------------*/

.signup-sections .right-section {
    width: 57%;
    height: 100vh;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.right-section .logo {
    font-size: 28px;
    font-weight: bold;
    color: rgb(200, 194, 194);
    padding: 10px;
    background-color: black;
    position: absolute;
    margin-bottom: 43%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.9);
    border: 5px solid rgb(200, 194, 194);
    border-radius: 40px;
}

.right-section .logo:hover {
    background-color: rgb(200, 194, 194);
    color: black;
    border-color: black;
}

.form-container {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: 5px solid rgb(11, 11, 11);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.9);
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 95%;
    border: 1px solid #aba7a7;
    border-radius: 10px;
}

input[type="email"]:hover, input[type="password"]:hover {
    border: 4px solid black;
}

.email-btn {
    height: 50px;
    color: white;
    background-color: #000;
    border: 2px solid #000;
    font-family: WiredMono, helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: oblique;
    margin-top: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    width: 100%;
}

.email-btn:hover {
    background-color: rgb(200, 194, 194);
    color: black;
}

.email-btn:active {
    background-color: #4285f4;
    transform: scale(0.9);
}

.right-section .form-container form span {
    color: rgb(187, 11, 11);
    font-size: 22px;
}

.separator {
    margin: 15px 0;
    text-align: center;
    position: relative;
}

.separator::before,
.separator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 2px;
    background-color: #090909;
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

.social-btn {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

.social-btn:hover {
    background-color: rgb(200, 194, 194);
    padding: 15px;
}
.social-btn:active{
    background-color: #4285f4;
    transform: scale(0.9);
}
.social-btn .button-icon, 
.social-btn .button-icons, 
.social-btn .button-icon1 { 
    width: 20px;
    height: 20px;
    margin: 0 15px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-btn .button-icons{
    margin-left: 36px;
}
.social-btn .button-icon1{
    margin-left: 8px;
}